/* .search{
    padding: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.filter{
    
    cursor: pointer;
    display: flex;
}

.search-box{
    padding-left: 5px;
}

.search-button{
    padding: 5px;
} */