/* .res-card{
    width: 200px;
    height: 500px;    
    padding: 5px;   
    margin: 5px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}


.restaurant-logo{
    width: 100%;    
} */